<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Medusa.Architecture.Transaction.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Medusa.Architecture.Transaction.Properties.Settings>
            <setting name="Timeout" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="IsolationLevel" serializeAs="String">
                <value>ReadCommitted</value>
            </setting>
            <setting name="TransactionalBehaviour" serializeAs="String">
                <value>Required</value>
            </setting>
        </Medusa.Architecture.Transaction.Properties.Settings>
    </applicationSettings>
</configuration>