<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <connectionStrings>
    <add name="conexion" connectionString="Data Source=GERARDO;Initial Catalog=Biodata;Persist Security Info=True;User ID=gerardo;Password=gerardo"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="conexion" value="server=localhost;user id=root; password=gerardo; database=biodatamysql; pooling=false" />-->
  </appSettings>
</configuration>