<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="primaryDaoFactory"
               type="Medusa.Biodata.Data.NHibernateDaoFactory, Medusa.Biodata.Data"
               service="Medusa.Biodata.Data.Interfaces.IDaoFactory, Medusa.Biodata.Core">
      <parameters>
        <sessionFactoryConfigPath>D:\Medusa\Biodata\medusa-biodata\Source\Biodata-Gestion\Front.WinForm\Config\BiodataNHibernate.config</sessionFactoryConfigPath>
      </parameters>
    </component>
  </components>
</configuration>