<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="primaryDaoFactory"
               type="Mds.Biodata.Data.NHibernateDaoFactory, Mds.Biodata.Data"
               service="Mds.Biodata.Core.DataInterfaces.IDaoFactory, Mds.Biodata.Core">
      <parameters>
        <sessionFactoryConfigPath>E:\Medusa\BiodataProducto\Biodata\Biodata.Forms\Config\BiodataNHibernate.config</sessionFactoryConfigPath>
      </parameters>
    </component>
  </components>
</configuration>